head
  title User Site
  link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
  link(href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet")
  link(href="/bower_components/bootswatch/sandstone/bootstrap.min.css" rel="stylesheet")
  link(href="/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet")
  link(href="/css/style.css" rel="stylesheet")