nav.navbar.navbar-inverse
  .container-fluid
    div
      ul.nav.navbar-nav
        li.dropdown(role='presentation')
          a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
            span.glyphicon.glyphicon-menu-hamburger
          ul.dropdown-menu
            li
              a(href='/users/edit/profile') Edit Profile
        li.active.navHome
          a(href='/home') Home
        li.navTrades
          a(href='/trades') Trades
      ul.nav.navbar-nav.navbar-right
        li.navHome
          a Paul
        li
          a(href='#')#logout
            span.glyphicon.glyphicon-log-out
            |  Log out