doctype html
html(lang="en")
  include ./includes/head.jade
  link(href="css/home.css" rel="stylesheet")
  body
    .container
      include ./includes/navbar.jade
      h1 Home

      .jumbotron
        h2= user.username
        .row
          .form.form-group
            input.form-control#url(type='text' placeholder='Add image url' value="http://www.wpclipart.com/tools/hand_tools/wrench/adjustable/adjustable_wrench_lg.png")
            input.form-control#name(type='text' placeholder='Item name' value="wrench")
            input.form-control#description(type='text' placeholder='Description' value="big")
            button.btn#addItem Add
          .col-xs-12.tableDiv
            table.table
              thead
                tr
                  th Image
                  th Name
                  th Description
                  th For trade
                  th Delete
              tbody.itemsTable
                if items 
                  each item in items
                    tr.item(data-id= item._id.toString())
                      td.imgUrl
                        img(src= item.imgUrl)
                      td.name= item.name
                      td.description= item.description
                      td.trade
                        input(checked= item.forTrade type='checkbox')
                      td
                        i.fa.fa-trash-o.del

                tr.item#sample
                  td.imgUrl
                    img
                  td.name 
                  td.description 
                  td.trade
                    input(type='checkbox')
                  td
                    i.fa.fa-trash-o.del


    include ./includes/scripts.jade
    script(src='js/home.js')
