doctype html
html(lang="en")
  include ./includes/head.jade
  link(href="/css/main.css" rel="stylesheet")
  body
    .container
      h1 Welcome to the Trading Post
      .jumbotron
        .form
          .form-group.register
            h3 Register
            label.sr-only(for="username") Username:
            input.form-control#username(type="text" placeholder='username')
            label.sr-only(for="username") Email:
            input.form-control#email(type="email" placeholder='valid email')
            label.sr-only(for="password") Password:
            input.form-control#password(type="password" placeholder='password')
            label.sr-only(for="username") Confirm password:
            input.form-control#confirm(type="password" placeholder='confirm')
            button.btn#register Register
            .hud#reg
              p
          .form-group.login
            h3 Login
            label.sr-only(for="username") Username:
            input.form-control#loginName(type="text" placeholder='username')
            label.sr-only(for="username") Password:
            input.form-control#loginPword(type="password" placeholder='password')
            button.btn#login Login
            .hud#log
              p

    include ./includes/scripts.jade
    script(src='/js/main.js')
