.tableDiv {
  background-color: white;
  border-radius: 5px;
}

input {
  display: inline-block;
  width:20%;
}

#sample {
  display: none;
}

.itemsTable img {
  height: 50px;
}

.offerTable {
  display: none;
}

.del, .offers, .trade{
  text-align: center;
}

.del i, .trade input, .offer i {
  cursor:pointer;
}

.offers i {
  color: red;
}